<div ng-cloak md-padding>
  <md-toolbar layout="row" layout-align="start center">
    <section layout-align="start center" layout-fill flex>
      <h2 class="md-toolbar-tools">
        {{matchesCtrl.tournament.name}} Matches
      </h2>
    </section>
    <section layout-align="end center">
      <md-button class="md-fab md-mini" aria-label="Save Groups" ng-click="matchesCtrl.saveMatches()">
        <md-icon ng-bind="'save'"></md-icon>
        <md-tooltip md-direction="bottom">Save Groups</md-tooltip>
      </md-button>
    </section>
  </md-toolbar>
  <md-content>
    <md-button class="md-raised md-primary" ng-click="matchesCtrl.generateMatches()"
      ng-disabled="matchesCtrl.disableGenerate">Generate Matches</md-button>
    <md-list ng-cloak ng-repeat = "group in matchesCtrl.currentStage.groups">
      <md-list-item ng-repeat = "groupMatch in group.group_matches">
        <match-directive team1="groupMatch.team1" team2="groupMatch.team2"
          flagsserverpath="{{matchesCtrl.flagsServerPath}}">
        </match-directive>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>
